 <%= form_for(@forecast) do |f| %>
  <% if @forecast.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@forecast.errors.count, "error") %> prohibited this forecast from being saved:</h2>

      <ul>
      <% @forecast.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :latitude %><br>
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br>
    <%= f.text_field :longitude %>
  </div>
  <div class="field">
    <%= f.label :summary %><br>
    <%= f.text_field :summary %>
  </div>
  <div class="field">
    <%= f.label :temperature %><br>
    <%= f.text_field :temperature %>
  </div>
  <div class="field">
    <%= f.label :windSpeed %><br>
    <%= f.text_field :windSpeed %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
